<!-- commands:
  command-01-overwrite-yum-conf:
    command: 'sudo yum-config-manager --setopt=sslverify=false --save'
  command-02-update-ca-certificates:
    command: 'sudo yum update ca-certificates'
  command-03-update-certificate:
    command: 'rpm -qa | grep ca-certificates-2018.2.22-65.1.24.amzn1.noarch || sudo yum install -y https://cdn.amazonlinux.com/patch/ca-certificates-update-2021-09-30/ca-certificates-2018.2.22-65.1.24.amzn1.noarch.rpm'
  command-04-revert-yum-conf-update:
    command: 'sudo yum-config-manager --setopt=sslverify=true --save' -->
