# This script defined below in the 'contents' section is run post-deploy in order to
# set the proper permissions for log files.
# We run it post-deploy by copying the contents below into the file in the
# elasticbeanstalk/hooks/postdeploy/ folder, and EB automatically knows to
# run scripts in that folder post deploy.
files:
  "/var/app/current/.platform/hooks/postdeploy/05set_log_file_permissions.sh":
    content: |
      #!/bin/bash

      # Load rails ENV vars
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      . $EB_SUPPORT_DIR/envvars

      FILE=/var/app/current/log/$RACK_ENV.log

      echo "Setting permissions for log file $FILE"

      touch $FILE
      sudo chown webapp:webapp $FILE

    mode: "000700"
    owner: root
    group: root
