container_commands:
  command-01:
    command: 'sudo cp install/.bashrc-root /root/.bashrc'
  command-02:
    command: 'sudo cp install/.bashrc-user /home/ec2-user/.bashrc'
  command-03:
    command: 'sudo ln -sf /var/app/current/log/production.log /var/app/support/logs/production.log'
  command-04:
    command: 'sudo ln -sf /var/app/current/log/staging.log /var/app/support/logs/staging.log'
  command-05:
    command: 'sudo ln -sf /var/app/current/log/items.log /var/app/support/logs/items.log'
  command-06:
    command: "sudo sed -i 's%=\"UTC\"%=\"US/Eastern\"%g' /etc/sysconfig/clock"
  command-07:
    command: "sudo rm -f /etc/localtime"
  command-08:
    command: "sudo ln -s /usr/share/zoneinfo/US/Eastern /etc/localtime"
  <!-- command-09:
    command: 'sudo /bin/cp install/centos.repo /etc/yum.repos.d'
  command-10:
    command: 'sudo yum -y --disablerepo "*" --enablerepo "CentOS-7-base" install yum-plugin-fastestmirror'
  command-11:
    command: 'sudo yum -y --disablerepo "*" --enablerepo "CentOS-7-base" install hunspell' -->
  command-12:
    command: "if [ -f /etc/aws-sqsd.d/default.yaml ]; then sudo sed -i 's/verbose: false/verbose: true/g' /etc/aws-sqsd.d/default.yaml; fi"
  command-13:
    command: 'cat install/application_cron.txt > /etc/cron.d/application_cron && chmod 644 /etc/cron.d/application_cron'
  command-14:
    command: 'sudo chmod 744 install/run_rails_cron.sh'
  command-15:
    command: 'sudo service crond restart'
