# .ebextensions/configure-bundler
files:
  "/var/app/current/.platform/hooks/predeploy/09_add_jfrog_authentication.sh":
    content: |
      #!/bin/bash
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      . $EB_SUPPORT_DIR/envvars

      touch ~/.gemrc
      echo "---
      :backtrace: false
      :bulk_threshold: 1000
      :sources:
      - https://rubygems.org/
      - https://$ARTIFACTORY_RUBY_ACCOUNT:$ARTIFACTORY_RUBY_TOKEN@flipplib.jfrog.io/flipplib/api/gems/flipp-gems/
      :update_sources: true
      :verbose: true" > ~/.gemrc

      mkdir -p ~/.bundle
      bundle config flipplib.jfrog.io $ARTIFACTORY_RUBY_ACCOUNT:$ARTIFACTORY_RUBY_TOKEN

      mkdir -p ~/.gem
      curl -u $ARTIFACTORY_RUBY_ACCOUNT:$ARTIFACTORY_RUBY_TOKEN https://flipplib.jfrog.io/flipplib/api/gems/flipp-gems/api/v1/api_key.yaml > ~/.gem/credentials
      chmod 600 ~/.gem/credentials

    mode: "000700"
    owner: root
    group: root
